<!--
	Generated template for the Friends page.

	See http://ionicframework.com/docs/components/#navigation for more info on
	Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{ 'f.title' | translate }}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<h1>{{'f.add.title' | translate}}</h1>
	<button ion-button icon-left (click)="addProfile()">
		<ion-icon name="person-add"></ion-icon>
		Add
	</button>


	<h1 *ngIf="friends.sent.length != 0">{{'f.sent.title' | translate}}</h1>
	<div *ngFor="let sent of friends.sent" [ngSwitch]="sent.status" class="vertical-align-content">
		<span margin-horizontal>
			{{ sent.user.split('@')[0] }}<i>@{{ sent.user.split('@')[1] }}</i>
		</span>

		<span *ngSwitchCase="StatusEnum.Pending">
			<button ion-button icon-left small color="danger" (click)="cancelSentRequest(sent)">
				<ion-icon name="trash"></ion-icon>
					{{ 'f.sent.cancel' | translate}}
			</button>
		</span>

		<span *ngSwitchCase="StatusEnum.Declined">
			{{ 'f.sent.rejected' | translate }}
		</span>

		<span *ngSwitchCase="StatusEnum.Declined">
			<button ion-button icon-left small margin-horizontal (click)="hideRejectedSentRequest(sent)">
				<ion-icon name="close"></ion-icon>
					{{ 'f.sent.hide' | translate}}
			</button>
		</span>
	</div>


	<h1 *ngIf="friends.incoming.length != 0">{{'f.received.title' | translate}}</h1>
	<div *ngFor="let received of friends.incoming" class="vertical-align-content">
		<span margin-horizontal>
			{{ received.user.split('@')[0] }}<i>@{{ received.user.split('@')[1] }}</i>
		</span>
		<button ion-button icon-left small (click)="showFriendDetails(received)">
				<ion-icon name="more"></ion-icon>
				{{ 'f.received.details' | translate}}
		</button>
		<button ion-button icon-left small color="secondary" (click)="acceptFriendRequest(received)">
			<ion-icon name="person-add"></ion-icon>
				{{ 'f.received.accept' | translate}}
		</button>
		<button ion-button icon-left small color="danger" (click)="declineFriendRequest(received)">
			<ion-icon name="trash"></ion-icon>
			{{ 'f.received.decline' | translate}}
		</button>
	</div>


	<h1 *ngIf="friends.accepted.length != 0">{{'f.friend.title' | translate}}</h1>
	<div *ngFor="let friend of friends.accepted" class="vertical-align-content">
		<span margin-horizontal>
			{{ friend.user.split('@')[0] }}<i>@{{ friend.user.split('@')[1] }}</i>
		</span>
		<button ion-button icon-left small (click)="showFriendDetails(friend)">
				<ion-icon name="more"></ion-icon>
				{{ 'f.friend.details' | translate}}
		</button>
		<button ion-button icon-left small color="danger" (click)="removeFriend(friend)">
			<ion-icon name="trash"></ion-icon>
			{{ 'f.friend.remove' | translate}}
		</button>
	</div>


	<h1 *ngIf="friends.following.length != 0">{{'f.following.title' | translate}}</h1>
	<div *ngFor="let follow of friends.following" class="vertical-align-content">
		<span margin-horizontal>
			{{ follow.user.split('@')[0] }}<i>@{{ follow.user.split('@')[1] }}</i>
		</span>
		<button ion-button icon-left small (click)="showFriendDetails(follow)">
				<ion-icon name="more"></ion-icon>
				{{ 'f.following.details' | translate}}
		</button>
		<button ion-button icon-left small color="danger" (click)="removeFriend(follow)">
			<ion-icon name="trash"></ion-icon>
			{{ 'f.following.remove' | translate}}
		</button>
	</div>

</ion-content>